#sci-fi{
    /* position: absolute; */
  /* top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 12px;
}

#img_txt{
    /* position: absolute; */
  /* top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  margin-bottom: 80px;
  color: rgb(255, 255, 255);
}

#browse_btn{
    /* position: absolute; */
    /* top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
    height: 50px;
    width: 160px;
    color: white;
    background-color: rgb(246, 22, 22);
    border: 2px solid rgb(246, 22, 22);
}

.img-responsive{
  height: 200px;
  width: 100px;
}

.ul_footer
{
  list-style-type: none;
  margin-left: -2rem;
}

#site_logo
{
  width: 40%; 
  height: 40%;
}

#search_book
{
  width: inherit; 
  height: 45px; 
  border-radius: 20px; 
  border: 2px solid rgb(203, 203, 203); 
  padding: 20px;
}

/* #sub_nav
{
  width: inherit; 
  height: 45px; 
  border-radius: 20px; 
  border: 2px solid rgb(203, 203, 203); 
  padding: 20px;
} */